Screenshot*.jpg
**/data/*.json
*.exe*
*.exp
*.lib
*.pdb
*.idb
*.obj
*.ilk
*.pch
*.a
*.dll
*.s
*.o

# Build results
[Dd]ebug/
[Rr]elease/

# need logs dir
!publish/logs/
publish/D2Boot/D2Boot.dll.release
Scripts/data/secure/*.txt
D2Boot/lib/*.zip
!publish/D2Boot/D2M.dll
!publish/D2Bot.exe
